<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What is `this` value in JavaScript?</title>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
<h1>What is `this` value in JavaScript?</h1>
<p>Comparison table of `this` value. Show the result of your browser.</p>
<script>
    window.thisValueLogList = [];
    window.logThis = function(thisValue) {
        window.thisValueLogList.push(thisValue !== undefined ? String(thisValue) : "undefined");
    }
</script>
<script data-this>
    window.logThis(this);
</script>
<script data-this>
    const nonStrictTopLevelArrowFunctionThis = () => {
        window.logThis(this);
    };
    nonStrictTopLevelArrowFunctionThis();
</script>
<script data-this>
    function nonStrictTopLevelFunctionThis() {
        window.logThis(this);
    }

    nonStrictTopLevelFunctionThis();
</script>
<script data-this>
    const nonStrictTopLevelFunctionExpressionThis = function() {
        window.logThis(this);
    };
    nonStrictTopLevelFunctionExpressionThis();
</script>
<script data-this>
    "use strict";
    window.logThis(this);
</script>
<script data-this>
    "use strict";
    const strictTopLevelArrowFunctionThis = () => {
        window.logThis(this);
    };
    strictTopLevelArrowFunctionThis();
</script>
<script data-this>
    "use strict";

    function strictTopLevelFunctionThis() {
        window.logThis(this);
    }

    strictTopLevelFunctionThis();
</script>
<script data-this>
    "use strict";
    const strictTopLevelFunctionExpressionThis = function() {
        window.logThis(this);
    };
    strictTopLevelFunctionExpressionThis();
</script>
<!-- Module -->
<script type="module" data-this>
    window.logThis(this);
</script>
<script type="module" data-this>
    const strictTopLevelArrowFunctionThis = () => {
        window.logThis(this);
    };

    strictTopLevelArrowFunctionThis();
</script>
<script type="module" data-this>
    function strictTopLevelFunctionThisInModule() {
        window.logThis(this);
    }

    strictTopLevelFunctionThisInModule();
</script>
<script type="module" data-this>
    const strictTopLevelFunctionExpressionThisInModule = function() {
        window.logThis(this);
    };
    strictTopLevelFunctionExpressionThisInModule();
</script>
<!-- Output -->
<script src="./vue_2.5.13_vue.js"></script>
<!-- component template -->
<script type="text/x-template" id="grid-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns">
                <pre v-if="key === 'code'"><code class="language-javascript">{{entry[key]}}</code></pre>
                <span v-else>
                    {{entry[key]}}
                </span>

            </td>
        </tr>
        </tbody>
    </table>
</script>
<!-- demo root element -->
<div id="js-output">
    <form id="search">
        Search <input name="query" v-model="searchQuery">
    </form>
    <this-output
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
    </this-output>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/themes/prism.min.css"
      media="all"/>
<script data-manual type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/prism.min.js"></script>
<script async defer src="./table.js"></script>
<a href="https://github.com/azu/what-is-this"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                   src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                                                   alt="Fork me on GitHub"></a>
</body>
</html>
