<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What is `this` value in JavaScript?</title>
    <link rel="stylesheet" href="./style.css"/>
    <script src="./table.js"></script>
</head>
<body>
<h1>What is `this` value in JavaScript?</h1>
<p>Comparison table of `this` value. Show the result of your browser.</p>
<script>
    // non strict
    window.addResult({
        type: "Script",
        code: "this;",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: this
    });
</script>
<script>
    // non strict
    const nonStrictTopLevelArrowFunctionThis = () => {
        return this;
    };
    window.addResult({
        type: "Script",
        code: "const fn = () => this;",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: nonStrictTopLevelArrowFunctionThis()
    });
</script>
<script>
    // non strict
    function nonStrictTopLevelFunctionThis() {
        return this;
    }

    window.addResult({
        type: "Script",
        code: "function fn(){ return this; }",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: nonStrictTopLevelFunctionThis()
    });
</script>
<script>
    // non strict
    function nonStrictTopLevelFunctionThis() {
        return this;
    }

    window.addResult({
        type: "Script",
        code: "const fn = function(){ return this; }",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: nonStrictTopLevelFunctionThis()
    });
</script>
<script>
    // non strict
    const nonStrictTopLevelFunctionThis = function() {
        return this;
    };
    window.addResult({
        type: "Script",
        code: "const fn = function(){ return this; }",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: nonStrictTopLevelFunctionThis()
    });
</script>
<script>
    "use strict";
    window.addResult({
        type: "Script",
        code: "this;",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: this
    });
</script>
<script>
    "use strict";
    const strictTopLevelArrowFunctionThis = () => {
        return this;
    };
    window.addResult({
        type: "Script",
        code: "const fn = () => this;",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: strictTopLevelArrowFunctionThis()
    });
</script>
<script>
    "use strict";

    function strictTopLevelFunctionThis() {
        return this;
    }

    window.addResult({
        type: "Script",
        code: "function fn(){ return this; }",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: strictTopLevelFunctionThis()
    });
</script>
<script>
    "use strict";
    const strictTopLevelFunctionThis = function() {
        return this;
    };
    window.addResult({
        type: "Script",
        code: "const fn = function(){ return this; }",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: strictTopLevelFunctionThis()
    });
</script>
<script>
    "use strict";

    function strictTopLevelFunctionThis() {
        return this;
    }

    window.addResult({
        type: "Script",
        code: "const fn = function(){ return this; }",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: strictTopLevelFunctionThis()
    });
</script>
<!-- Module -->
<script type="module">
    window.addResult({
        type: "Module",
        code: "this;",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: this
    });// => global
</script>
<script type="module">
    const strictTopLevelArrowFunctionThis = () => {
        return this;
    };
    window.addResult({
        type: "Module",
        code: "const fn = () => this;",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: strictTopLevelArrowFunctionThis()
    });
</script>
<script type="module">
    function strictTopLevelFunctionThis() {
        return this;
    }

    window.addResult({
        type: "Module",
        code: "function fn(){ return this; }",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: strictTopLevelFunctionThis()
    });
</script>
<script type="module">
    "use strict";
    const strictTopLevelFunctionThis = function() {
        return this;
    };
    window.addResult({
        type: "Module",
        code: "const fn = function(){ return this; }",
        isStrict: function() {
            return this;
        }() === undefined,
        thisValue: strictTopLevelFunctionThis()
    });
</script>
<!-- Output -->
<script src="./vue@2.5.9_dist_vue.js"></script>
<!-- component template -->
<script type="text/x-template" id="grid-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
</script>
<!-- demo root element -->
<div id="js-output">
    <form id="search">
        Search <input name="query" v-model="searchQuery">
    </form>
    <this-output
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
    </this-output>
</div>
<script>
    window.output();
</script>
<a href="https://github.com/azu/what-is-this"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                   src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                                                   alt="Fork me on GitHub"></a>
</body>
</html>
